body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div {
    background-color: aqua;
    margin: 50px;
    padding: 20px;
}

.redbackground {
    background-color: red;
}

.photo {
    width: 200px;
    height: 200px;
}

.flexy {
    display: flex; 
    flex-direction: row;
    gap: 20px;
}